.uppercase{
     font:medium; 
     opacity:40 ;
     font-family: cursive;
     color: rgb(201, 226, 248);
}

.msg{
     color:burlywood;
     position: absolute;
     left: 720px;
     top:200px;
     font-family: cursive;
}
.flex{
     display:flex;
     flex-direction: column;
     text-align: center; 
     font-family: cursive;
     color: rgb(176, 214, 248);
}
.contact{
     background: url(F:\website\singer\src\assets\sing.jpg)center center/cover no-repeat;
}
.bors{
     border-radius: 15px;
     background-color: #f4f6f8;
     position: absolute;
     left:35px;
     width: 250px;
     height: 25px;
     top:0px;
     
}
input[type="text"]{
     top:55px;
     left:35px;
     width: 250px;
     border-radius: 30px;
     height: 25px;
}
.mess{
     position: absolute;
     left:-25px;
     top:100px;
     font-family: cursive;
     color:cadetblue
}
.bor{
     border-bottom-width: 2px;
     outline:none;
     position: absolute;
     top:120px;
     width: 250px;
     height: 150px;
     left:40px;
     border-radius: 15px;
     border: 15px;
     color: rgb(16, 16, 19);
     background-color: #f3f4f5; 
} 
.forms{
     position: absolute;
     left:650px;
     top:280px;
}
.success{
     color: cornsilk;
     font-family: cursive;
     position: absolute;
  
}
.sub{
     margin-top: 1rem;
     background-color:rgb(161, 225, 241);
     
     border-radius: 15px;
     position: absolute;
     left:120px;
     top:280px;
     outline:none;
     cursor:pointer;
     font-family: cursive;
     width:80px;
     height:50px;
}

.mar{
     margin-bottom: -0.1rem;
     padding: 2px;
}

.names{
     color:cadetblue;
     font-family: cursive;
     position: absolute;
     left:-40px;

        
}
.feel{    
     top:130px;
     left:640px;
     position: absolute;
}
.msgs{
     position: absolute;
     left:-55px;
     top:100px;
     font-family: cursive;
     color:cadetblue;
     font-weight: lighter;
     font-size:medium
}
.Social-icon-container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     position: absolute;
     left: 670px;
     top:650px;
}
.social-icon{
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     margin:21px;
}
.social-icon:hover{
     filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.32));
     cursor: pointer;
     transition: all 0.3s;
}
.sub:hover{
     background-color: rgb(29, 152, 235);
}
